body {
    background-attachment: fixed;
    background-color: red;
    background-position: center;
    background-size: auto;
    display: flex;
    font-family: "VT-100", fixedsys, System, monospace;
    font-size: 0.9em;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
}