/*
   __     __  __     ______   __     ______   __     ______    
  /\ \   /\ \/\ \   /\__  _\ /\ \   /\  == \ /\ \   /\  __ \   
 _\_\ \  \ \ \_\ \  \/_/\ \/ \ \ \  \ \  _-/ \ \ \  \ \  __ \  
/\_____\  \ \_____\    \ \_\  \ \_\  \ \_\    \ \_\  \ \_\ \_\ 
\/_____/   \/_____/     \/_/   \/_/   \/_/     \/_/   \/_/\/_/ 

*/

/* imports */
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/* * */
* {
    scrollbar-color: #815b3f #000000;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    cursor: url(../img/cursor.cur), auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #dcdcdc;
    text-decoration: underline;
}

/* body */
body {
    height: 100vh;
    color: #000000;
    background-color: #c1916c;
}

/* header */
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
}

header a {
    color: #000000;
    text-decoration: none;
    text-align: center;
    transition: 0.1s;
}

header a:hover {
    color: #000000;
    transform: scale(1.05);
    text-decoration: underline;
}

header img {
    width: 150px;
    margin: 1rem auto;
    filter: grayscale(0.45);
}

header p {
    font-family: VT-100, monospace;
    font-weight: 800;
    letter-spacing: 7.75px;
    text-align: center;
}

/* nav */
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

nav a {
    padding: 3.75px;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
    background-color: #ecb176;
    color: #000000;
}

nav img {
    width: 25px;
}

/* main */
main {
    margin: 2rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main .box {
    width: 75vw;
    text-align: justify;
}

.sucess {
    margin: 0 300px;
    padding: 15px;
    border: 1px dashed #000000;
    border-radius: 10px;
    text-align: center;
    background-color: #acff2f34;
}

.error {
    margin: 0 300px;
    padding: 15px;
    border: 1px dashed #000000;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.204);
}

/* index */
#index-img {
    width: 300px;
    margin: 1rem 0;
    border-radius: 10px;
}

/* signin e signup */
form {
    display: flex;
    flex-flow: column wrap;
}

label {
    font-size: 1.15rem;
    letter-spacing: 1px;
}

input {
    width: 250px;
    margin: 0.45rem 0;
    padding: 0.25rem;
    border: 0;
    background-color: #fed8b1;
    border-radius: 5px;
}

form input:focus {
    outline: 2.25px dashed #ecb176;
}

input[type="submit"] {
    width: 75px;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    transform: scale(1.045);
    background-color: #ecb176;
} 

/* user */
.user {
    width: 100px;
    height: 100px;
    gap: 10px;
    border: 1px solid #000;
    display: flex;
    flex-flow: column wrap;
}

.user img {
    width: 100px;
    padding: 15px;
}

.user-info {
    width: 20vw;
    display: flex;
    flex-flow: column wrap;
}

.user-info p {
    margin-bottom: 0;
}

.user-info span {
    text-decoration: underline;
}

.button {
    transition: 0.1s;
}

.button a {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color:#947259bb;
    color: black;
}

.button:has(a:hover){
    margin: 0 1rem;
    transform: scale(1.05);
}

.button a:hover {
    text-decoration: underline;
    background-color: #ecb176;
    color: #000000;
}

/* livros (admin) */
#add-book {
    text-align: center;
}

#collection-book {
    display: block;
    margin:  0 auto 10px auto;
}

table {
    margin: 0 auto;
}

th:nth-child(2n) {
    padding: 1rem;
}

td:nth-child(2n) {
    padding: 1rem;
}

button {
    background-color: transparent;
    border-color: transparent;
}

/* livros (user) */
.search {
    text-align: center;
    margin: 0 auto;
} 

#books,
#my-books,
#control {
    display: block;
    margin:  0 auto 10px auto;
}

.teste {
    width: 100%
}