@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Roboto Condensed", sans-serif;
}
form, input, label {
  align-items: center;
}
form{
  margin: 15px;
}
body{
  align-items: center;
  flex-direction: row;
  background-color: #0d5d7c;
  color: #0d5d7c;
}
header{
  align-items: center;
  margin-top: 15px;
}
table{
  max-width: 70vw !important;
  max-height: fit-content;
  text-align: center;
  border: 5px white solid;
}
td{
  vertical-align: middle;
}
main{
  align-items: center;
}
.div{
  max-width: 60vw;
  min-width: 50vw;
  border: 5px white solid;
  border-radius: 25px;
  margin: 2%;
  background-color: aliceblue;
}
h1{
  color: #0d5d7c;
}
.btn-table{
  background-color: #0d5d7c !important;
}
.btn-UI{
  background-color: aliceblue !important;
  color: black;
}
.btn-primary{
  background-color: #0d5d7c !important;
  color: aliceblue;
}
.form-control{
  border: 5px #0d5d7c solid;
}
.echo{
  color: aliceblue;
}

.btn-secondary{
  background-color: #0d5d7c !important;
  color: aliceblue !important;
  border: 1pt #0d5d7c solid;
}

.btn-secondary:hover{
  background-color: aliceblue !important;
  color: #0d5d7c!important;
  border: 1pt #0d5d7c solid;
}